.fcc_searchBar {
  border-bottom: 0.0625rem solid var(--gray45);
  height: var(--header-sub-element-height);
  padding: 6px 15px;
  width: 100%;
}

/* @media (min-width: 980px) {
  .fcc_searchBar {
    border: 0;
    height: auto;
    max-width: 500px;
    padding: 0;
  }
} */

.fcc_searchBar strong,
.fcc_searchBar a:hover {
  color: var(--gray00);
}

.fcc_search_wrapper {
  position: relative;
}

.fcc_searchBar .ais-SearchBox-form {
  align-content: center;
  background-color: var(--gray75);
  display: grid;
  gap: 0.25em;
  grid-template-areas: 'submit input reset';
  grid-template-columns: 26px auto 36px;
  margin-bottom: 0;
}

.ais-SearchBox-input {
  grid-area: input;
  padding-block: 0;
  padding-inline-start: 5px;
  font-size: 18px;
  display: inline-block;
  height: var(--header-element-size);
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  height: var(--header-element-size);
  width: 26px;
  background-color: var(--gray75);
}

.ais-SearchBox-submit {
  grid-area: submit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ais-SearchBox-reset {
  grid-area: reset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ais-SearchBox-form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

:is(.ais-SearchBox-form button:hover)
  :is(.ais-SearchBox-submitIcon, .ais-SearchBox-resetIcon)
  path {
  fill: var(--gray00);
}

.fcc_searchBar .ais-SearchBox-input,
.fcc_searchBar .ais-Hits {
  z-index: 100;
  background-color: var(--gray75);
  color: var(--gray00);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  padding: 5px 0;
  border-bottom: 0.75px solid var(--gray45);
  cursor: pointer;
}

.algolia-autocomplete
  .aa-dropdown-menu
  .aa-suggestions
  .aa-suggestion:first-of-type {
  border-top: 0.75px solid var(--gray45);
}

.algolia-autocomplete
  .aa-dropdown-menu
  .aa-suggestions
  .aa-suggestion:last-of-type {
  border-bottom: none;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: var(--dark-blue);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

/* Remove default styling for hits */
.aa-dataset-1 a {
  text-decoration: none;
}
.aa-dataset-1 a:visited {
  text-decoration: none;
}
.aa-dataset-1 a:hover {
  text-decoration: none;
}
.aa-dataset-1 a:focus {
  text-decoration: none;
}
.aa-dataset-1 a:hover,
a:active {
  text-decoration: none;
}

/* Style search bar hits */
.algolia-result {
  padding: 5px;
  font-weight: 300;
  color: var(--gray00);
}

.algolia-result span {
  font-size: 17px;
}

.algolia-result em {
  font-weight: 400;
}

.aa-dropdown-menu {
  max-height: 85vh;
  overflow: auto;
}

.aa-dataset-1 hr {
  background-color: var(--gray00);
  height: 2px;
  margin: 0;
}

.footer-suggestion {
  border-top: 1px solid var(--gray00);
  border-bottom: 0.75px solid var(--gray45);
}

.algolia-footer {
  font-weight: bold;
  padding: 6.5px 8px 8px;
}

.algolia-footer:hover {
  color: var(--gray00);
  background-color: var(--dark-blue);
}

.aa-suggestion.footer-suggestion.no-hits-footer:hover {
  cursor: default;
  background-color: var(--gray75);
}

@media (min-width: 980px) {
  .ais-SearchBox-input {
    width: 100%;
    max-width: 100%;
  }

  .fcc_searchBar .ais-Hits {
    top: auto;
    width: 100%;
    max-width: 100%;
    left: 0px;
  }
}
