.fcc-search-container {
  border-bottom: 0.0625rem solid var(--gray45);
  height: var(--header-sub-element-height);
  padding: 6px 15px;
  width: 100%;
}

.fcc-search-container mark,
.fcc-search-container a:hover {
  color: var(--gray00);
}

.fcc-search-container .aa-Form {
  align-content: center;
  display: grid;
  gap: 0.25em;
  grid-template-areas: 'submit input clear';
  grid-template-columns: 26px auto 36px;
  margin-bottom: 0;
  background-color: var(--gray75);
}

.aa-Input {
  grid-area: input;
  padding-block: 0;
  padding-inline-start: 5px;
  font-size: 18px;
  border: none;
  display: inline-block;
  height: var(--header-element-size);
  background-color: var(--gray75);
  color: var(--gray00);
  width: 100%;
}

.aa-InputWrapperPrefix,
.aa-InputWrapperSuffix {
  background-color: var(--gray75);
}

.aa-SubmitButton,
.aa-ClearButton {
  height: var(--header-element-size);
  width: 26px;
  background-color: var(--gray75);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aa-SubmitButton {
  grid-area: submit;
}

.aa-ClearButton {
  grid-area: clear;
  margin-inline-start: 10px;
  display: none; /* Hide reset button by default */
}

/* Display the reset button when user types a query / placeholder is not visible */
.aa-Form:has(.aa-Input:not(:placeholder-shown)) .aa-ClearButton {
  display: flex;
}

.aa-SubmitIcon path,
.aa-ClearIcon path {
  fill: var(--gray15);
}

.aa-SubmitIcon {
  width: 14px;
  height: 14px;
}

.aa-ClearIcon {
  width: 12px;
  height: 12px;
}

.aa-Input::-webkit-input-placeholder {
  color: var(--gray15);
  font-weight: lighter;
}

.aa-Input::-moz-placeholder {
  color: var(--gray15);
  font-weight: lighter;
}

.aa-Input:-ms-input-placeholder {
  color: var(--gray15);
  font-weight: lighter;
}

.aa-Form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

:is(.aa-Form button:hover) :is(.aa-SubmitIcon, .aa-ClearIcon) path {
  fill: var(--gray00);
}

.aa-Input,
.aa-Panel {
  z-index: 100;
  background-color: var(--gray75);
  color: var(--gray00);
}

/* Dropdown */
.aa-Panel {
  position: absolute;
  width: 100%;
  top: auto;
  left: 0;
  right: 0;
}

.aa-Panel,
.aa-Panel .aa-Item {
  width: 100%;
}

.aa-Panel .aa-List {
  width: 100%;
  color: var(--gray00);
  background: var(--gray75);
  border-top: none;
  font-weight: 300;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Remove default styling for links */
.aa-Panel .aa-ItemLink {
  text-decoration: none;
}

.aa-Panel .aa-ItemLink:visited {
  text-decoration: none;
}

.aa-Panel .aa-ItemLink:hover {
  text-decoration: none;
}

.aa-Panel .aa-ItemLink:focus {
  text-decoration: none;
}

.aa-Panel .aa-ItemLink:hover,
.aa-Panel .aa-ItemLink:active {
  text-decoration: none;
}

/* Style search bar hits */
.aa-Panel .aa-List .aa-Item {
  border-bottom: 0.75px solid var(--gray45);
  margin: 0;
  padding: 5px 0;
  width: 100%;
  cursor: pointer;
}

.aa-Panel .aa-List .aa-Item:first-of-type,
.aa-Panel .aa-SourceNoResults {
  border-top: 0.75px solid var(--gray45);
}

.aa-Panel .aa-List .aa-Item:last-of-type {
  border-bottom: none;
}

.aa-Panel .aa-List .aa-Item[aria-selected='true'] {
  background-color: var(--dark-blue);
}

.aa-Panel .aa-ItemLink {
  color: var(--gray00);
  display: block;
  padding: 5px;
  font-size: 17px;
}

.aa-Panel .aa-List .aa-Item mark {
  font-weight: bold;
  font-style: normal;
  background-color: transparent;
}

.aa-Panel .aa-SourceNoResults {
  margin: 0;
  padding: 10px 5px;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
}

.aa-Panel .aa-SourceFooter:not(:empty) {
  border-top: 1px solid var(--gray00);
  padding: 5px 0;
}

.aa-Panel .aa-SourceFooter .aa-ItemLink {
  font-size: 18px;
}

.aa-SourceFooter {
  font-weight: bold;
  padding: 6.5px 8px 8px;
}

.aa-SourceFooter:hover {
  color: var(--gray00);
  background-color: var(--dark-blue);
}

/* Hide footer when there are no search results */
.aa-Source:has(.aa-SourceNoResults) .aa-SourceFooter {
  display: none;
}

/* Button row on search results page */
.read-more-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-bottom: 2vw;
  padding-top: 2vw;
}

#readMoreBtn {
  width: 50%;
  min-height: 40px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid var(--gray90);
  background: var(--gray05);
  color: var(--gray90);
}

#readMoreBtn:hover {
  background: var(--gray90);
  color: var(--gray05);
}

/* Hide full nav search bar and display
dropdown search bar by default */
.site-nav-left .fcc-search-container {
  display: none;
}

.site-nav-right .nav-list .fcc-search-container {
  display: block;
}

/* Hide search dropdown in right nav mobile dropdown */
#nav-right-search-container .aa-Panel {
  display: none;
}

@media (min-width: 980px) {
  .fcc-search-container {
    border: 0;
    height: auto;
    max-width: 500px;
    padding: 0;
  }

  /* Display full nav search bar and
  hide dropdown search bar */
  .site-nav-left .fcc-search-container {
    display: block;
  }

  .site-nav-right .nav-list .fcc-search-container {
    display: none;
  }

  .fcc-search-container .aa-Panel {
    left: 0;
    top: auto !important; /* Override default spacing */
  }

  .fcc-search-container .aa-Panel .aa-List {
    max-width: 100%;
    width: 100%;
  }
}
