name: CI - Node.js Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Checkout source code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Set environment variables
        run: cp sample.env .env

      - name: Install dependencies
        run: npm ci

      - name: Lint source files
        run: npm run lint

  test:
    name: Test
    needs: lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    env:
      BUILD_LANG: english

      ENGLISH_GHOST_API_URL: ${{ secrets.CI_ENGLISH_GHOST_API_URL }}
      ENGLISH_GHOST_API_VERSION: ${{ secrets.CI_ENGLISH_GHOST_API_VERSION }}
      ENGLISH_GHOST_CONTENT_API_KEY: ${{ secrets.CI_ENGLISH_GHOST_CONTENT_API_KEY }}

      POSTS_PER_PAGE: ${{ secrets.POSTS_PER_PAGE }}

      SITE_DOMAIN: localhost:8080

      LOCALE_FOR_UI: english
      LOCALE_FOR_GHOST: english

    steps:
      - name: Checkout source code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Login to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # tag=v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Start English Ghost container
        run: npm run start:containers --service english

      - name: Sleep for 5 seconds
        run: sleep 5s
        shell: bash

      - name: Build English CI site
        run: npm run build:ci

      - name: Run tests
        run: npm run test

      - name: Stop Ghost containers
        run: npm run stop:containers
